* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedor1 {
  background-color: #f1f1f1;
}
.cont1format {
  font-family: "sans-serif";
  display: inline-block;
  font-size: 1rem;
  margin: 1.5rem;
}
.redes {
  text-decoration: none;
  color: #c4c4c2;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}
.redes:hover {
  transform: scale(1.1); /* Agranda el enlace de redes sociales */
}
.number {
  font-size: 1.6rem;
  text-align: center;
  float: right;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}
.number:hover {
  transform: scale(1.1); /* Agranda el número */
}
.logo {
  color: #03bdf6;
  font-weight: 100;
  font-family: "arial light", cursive;
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
}
.nav-bar {
  padding: 0.5rem;
}
.navformat {
  font-family: "arial light", cursive;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem;
  float: right;
  color: #000000;
}
/* Cambia el orden de los elementos en la vista de escritorio */
.nav-bar a:nth-child(1) {
  order: 1;
} /* Inicio */
.nav-bar a:nth-child(2) {
  order: 2;
} /* Quiénes */
.nav-bar a:nth-child(3) {
  order: 3;
} /* Planes de Financiamiento */
.nav-bar a:nth-child(4) {
  order: 4;
} /* Contacto */
.nav-bar a:nth-child(5) {
  order: 5;
} /* Consultoría Gratis */

.nav-button {
  margin-right: 1rem;
}
.nav-button:hover {
  color: #fff;
  border-radius: 0.4rem;
  background-color: #03bdf6;
}
.green-button:hover {
  color: #fff;
  border-radius: 2rem;
  background-color: #01d5a5;
}
.banner {
  background-image: url("../img/foto1.jpg");
  height: 40rem;
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.banner-title {
  color: rgb(181, 85, 53);
  display: block;
  font-size: 3vw;
  padding: 1rem;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-text {
  display: block;
  font-size: 1.5vw;
  color: #fff;
  padding: 1rem;
  margin: auto;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.button-format1 {
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 1rem;
}
.white-button {
  padding: 1rem 4rem;
  background-color: #fff;
  color: #000000;
}
.white-button:hover {
  color: #fff;
  border-radius: 2rem;
  background-color: #03bdf6;
}
.blue-button {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #03bdf6;
}
.blue-button:hover {
  color: #000000;
  border-radius: 2rem;
  background-color: #fff;
}
.banner-button {
  padding: 1rem;
  display: block;
  text-align: center;
  margin-top: 25rem;
}
.contenedor4 {
  background-color: #f1f1f1;
  padding: 1rem;
}
.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.format1 {
  display: inline-block;
  weight: 30%;
}
.card1,
.card2,
.card3 {
  padding: 2rem 1rem;
  background-color: #03bdf6;
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  padding-top: 6rem;
  font-weight: bold;
  color: #fff;
  font-size: 2rem; /* Aumenta el tamaño de la fuente */
  align-self: center; /* Centra el título horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
}
.formattxt {
  text-align: center;
  display: block;
  font-family: "arial light", cursive;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}
.card2 {
  background-color: #03bdf6;
}
.card3 {
  background-color: #01d6a6;
}
.cards-container a {
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: auto; /* Empuja el botón hacia la parte inferior */
}
.card-text {
  margin-top: 0.1rem;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center; /* Centra el texto horizontalmente */
  text-align: center;
  height: 200px; /* Asegura que el texto ocupe toda la altura disponible */
  margin-bottom: 0.2rem;
}
.card-text + a {
  align-self: center;
}
.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra los elementos horizontalmente */
  height: 100%; /* Asegura que el contenido ocupe toda la altura disponible */
}
/* Asegúrate de que las tarjetas se apilen verticalmente en pantallas más pequeñas */
@media (max-width: 768px) {
  .card1,
  .card2,
  .card3 {
    flex: 1 1 100%;
    height: auto;
  }

  .banner {
    height: 40rem; /* Ajusta la altura de la imagen en la vista móvil */
    background-size: cover;
    background-position: center;
    position: relative; /* Asegura que los elementos hijos se posicionen correctamente */
  }

  .banner-title {
    font-size: 5vw; /* Ajusta el tamaño de la fuente del título en la vista móvil */
    top: 20%; /* Ajusta la posición del título en la vista móvil */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 0.5rem;
  }

  .banner-text {
    font-size: 3.5vw; /* Ajusta el tamaño de la fuente del texto en la vista móvil */
    top: 35%; /* Ajusta la posición del texto en la vista móvil */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 0.5rem;
  }

  .banner-button {
    top: 50%; /* Ajusta la posición de los botones en la vista móvil */
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-format1 {
    width: 70%; /* Reduce el ancho de los botones en la vista móvil */
    padding: 0.5rem 1rem; /* Ajusta el padding de los botones */
    margin: 0.5rem 0;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navformat {
    float: none;
    margin: 0.5rem 0;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .formatcard1 {
    width: 90%;
    margin: 0.5rem 0;
  }

  .nav-bar a {
    display: block;
    margin: 0.5rem 0;
  }

  /* Ajustes adicionales para la vista móvil */
  .contenedor1,
  .contenedor4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cont1format,
  .redes,
  .number,
  .logo,
  .navformat,
  .nav-button,
  .green-button,
  .white-button,
  .blue-button,
  .banner-button,
  .formatcard1,
  .card-title,
  .formattxt,
  .card-text,
  .card-content {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  /* Cambia el orden de los elementos en la vista móvil */
  .nav-bar a:nth-child(2) {
    order: 1;
  } /* Inicio */
  .nav-bar a:nth-child(3) {
    order: 2;
  } /* Quiénes */
  .nav-bar a:nth-child(4) {
    order: 3;
  } /* Planes de Financiamiento */
  .nav-bar a:nth-child(5) {
    order: 4;
  } /* Contacto */
  .nav-bar a:nth-child(6) {
    order: 5;
  } /* Consultoría Gratis */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra de fondo predeterminada */
}

.card.visible {
  opacity: 1; /* Visible cuando se agrega la clase 'visible' */
  transform: translateY(0); /* Asegura que la carta esté en su posición final */
}

.card:hover {
  transform: scale(1.2); /* Agranda la carta */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el cursor */
  animation: fadeIn 0.5s forwards; /* Animación de desvanecimiento al pasar el cursor */
}

button,
.button-format1,
.nav-button,
.green-button,
.white-button,
.blue-button {
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

button:hover,
.button-format1:hover,
.nav-button:hover,
.green-button:hover,
.white-button:hover,
.blue-button:hover {
  transform: scale(1.1); /* Agranda el botón */
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 5rem;
  padding-top: 2rem; /* Ajusta el relleno superior */
  background-color: #f0f0f0; /* Color de fondo más oscuro que el blanco */
}

.about-text {
  flex: 1;
  padding-right: 1rem; /* Reduce el padding derecho */
  max-width: 600px; /* Limita el ancho máximo del texto */
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about-button {
  display: inline-block;
  background-color: #03bdf6;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.about-button:hover {
  transform: scale(1.1);
}

.about-image {
  flex: 1;
  text-align: right; /* Centra la imagen horizontalmente */
  padding-left: 1rem; /* Reduce el padding izquierdo */
}

.about-image img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
  border-radius: 0.5rem;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 1rem;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-section ul li a:hover {
  background-color: #03bdf6;
  color: #fff;
}

.footer-section p {
  margin: 0.5rem 0;
}

.footer-section .redes {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-section .redes:hover {
  background-color: #03bdf6;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #444;
}
